@use "./var";
/* 
// Mobile
@mixin mobile {
    @media (max-width: var.$breakpoint-mobile) {
        @content;
    }
} */

// Desktop
@mixin desktop {
    @media (min-width: var.$breakpoint-desktop) {
        @content;
    }
}
