@use "/src/mixin";
@use "/src/var";

.legales {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &__title {
        text-align: center;
        margin-top: 20px;
        font-family: var.$font-main;
        font-size: var.$font-size-h2;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    &__text {
        text-align: center;
        line-height: 1.5;
        margin: 1rem;
        font-family: var.$font-alt;
        font-size: var.$font-size-base;
        padding-bottom: 20px;
    }
}

@include mixin.desktop {
    .legales {
        &__text {
            text-align: center;
        }
    }
}
