@use "/src/mixin";
@use "/src/var";

#addPreview, #updatePreview {
    margin: 3rem;
    padding: 1rem;
    border: solid 1px var.$color-admin;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addPreview__form {
    align-items: center;
}

#updatePreview {
    margin: 1rem;
}

.form__title {
    text-align: center;
    font-size: var.$font-size-h2;
    font-family: var.$font-main;
}

.form__group__container {

    @include mixin.desktop {
        display: flex;
        flex-direction: row;

    justify-content: space-between;
        // align-content: flex-start;
    }

}

.form__group__container--file {
    justify-content: flex-start;
    align-items: flex-start;
}

.form__group {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border: solid 1px var.$color-admin;
    padding: 1rem;
    border-radius: 10px;
}

.form__label {
    background-color: var.$color-admin;
    color: white;
    padding: .5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%
}

.form__button__container {
    display: flex;
    justify-content: center;
}

.preview__form__button {
    background-color: var.$color-admin;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 1rem;
    padding: .7rem 2rem .7rem 2rem;
    max-width: 10rem;
}

.preview__form__button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #CE4B27;
}

.preview__form__button--delete {
    color: black;
    background-color: white;
    border: solid 1px var.$color-admin;
    max-width: 15rem;
}

.preview__form__button--delete:hover {
    border: solid 1px var.$color-admin;
}