@use "../var";
@use "../mixin";

.profil-item {
    border: solid 1px var.$color-client;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 1px rgba(133, 132, 132, 0.31);
    font-family: var.$font-alt;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profil-item-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var.$color-client;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.item {
    border: solid 1px var.$color-client;
    font-family: var.$font-alt;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.item-button {
    justify-content: flex-end;
    margin-right: 1rem;
}

.mofifier-button {
    background-color: var.$color-client;
    border: solid 1px var.$color-client;
    width: max-content;
    margin-top: 0.5rem;
}
