@use "/src/mixin";
@use "/src/var";

.accessibility {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__title {
        text-align: center;
        font-family: var.$font-main;
        font-size: 2rem;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 1rem;
        font-family: var.$font-main;
        font-size: 1.5rem;
    }

    &__text {
        margin: 0 1rem;
        font-family: var.$font-alt;
        font-size: var.$font-size-base;
        line-height: 3;
        text-align: left;
    }

    &__list {
        margin: 0 1rem 1rem;
        padding-left: 1.5rem;
    }

    &__list-item {
        font-family: var.$font-alt;
        font-size: var.$font-size-base;
        line-height: 3;
    }

    &__link {
        text-decoration: underline;
    }

    &__section {
        margin-bottom: 2rem;
    }
}

@include mixin.desktop {
    .accessibility {
        padding: 2rem;

        &__text {
            text-align: center;
        }

        &__list {
            margin: 0 3rem 2rem; // exemple : plus de marge sur desktop
            padding-left: 2rem;
        }

        &__list-item {
            font-size: var.$font-size-base ;
            line-height: 3;
        }
    }
}
