@use "../var.scss";
@use "../mixin.scss";

.preview__list__title {
    text-align: center;
    margin: 1rem;
}

.preview__list {

    // par defaut mobile first
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    // style desktop
    @include mixin.desktop {
        flex-direction: row;
        align-content: flex-start;
    }

}

.sort-icon {
    background-color: white;
}

#dropdown-basic {
    background-color: white;
}