@use "../style/var.scss";
@use "../style/mixin.scss";


.header-register {
    text-align: center;
    padding-top: 5rem;

    h2 {
        margin-bottom: 1rem;
    }
}

.register-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 8rem;
}

    .mb-3 {
        padding-bottom: 1rem;
    }

    .form-actions {
        text-align: center;
            
            .rounded-btn {
                border-radius: 50px;
                padding: 1rem 4rem;
                background-color: var.$color-admin;
                color: #000000;
                border: none;
            }
        }
