@use "/src/mixin";
@use "/src/var";

.login-form-global {
    padding-top: 2rem;
}

.login-form-headtitle {
    text-align: center;
    // padding-top: 5rem;
    font-family: var.$font-main;
    font-size: var.$font-size-h2;
}

.login-form-container {
    position: relative;
    margin: 5rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 400px;

    .login-form-item {
        margin-bottom: 1rem;
    }

    .login-form-button {
        display: block;
        margin: 2rem auto 0;
        border-radius: 50px;
        padding: 1rem 2rem;
        background-color: var.$color-admin;
        color: #000;
        border: none;
    }

    .login-text-link {
        text-align: center;
        padding-top: 1rem;

        .login-link {
            margin-left: 0.5rem;
            background: none;
            border: none;
            color: var.$color-admin;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.password-wrapper {
    position: relative;

    input {
        width: 100%;
        padding-right: 40px; // pour laisser la place à l'icône
    }

    .show-password-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        bottom: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #555; 
        transition: opacity 0.2s ease;

        svg {
            width: 20px;
            height: 20px;
            margin-top: 1rem;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

// Styles Desktop
@include mixin.desktop {
    .login-form-headtitle {
        // padding-top: 10rem;
        font-size: var.$font-size-h2;
    }

    .login-form-container {
        position: relative;
        width: 90vw; // largeur relative à la fenêtre, fluide au zoom
        max-width: 400px;
        margin: 4rem auto;
        padding: 2rem;

        .login-form-item {
            margin-bottom: 1.5rem;
        }

        .login-text-link {
            padding-top: 1.5rem;
        }
    }
}
