
.preview {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 350px;
    margin: 2rem;
}

.preview__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #E07A5F;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.preview__figure {
    margin: 1rem;
    margin-bottom: 0;
}

.preview__title {
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E07A5F;
}

audio {
    background-color: white;
}

.preview__genre__container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
}

.preview__genre {
    background-color: #E07A5F;
    color: white;
    padding: .3rem 1.5rem .3rem 1.5rem;
    // border: solid 1px black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.buttons {
    display: flex;
    justify-content: center;
    // padding: .5rem 0 .5rem 0;
}

.button {
    // max-width: 1.5rem;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
    // padding: 0 1rem 0 1rem;
}

.button:hover {
    background-color: #d6d6de;
    padding: 0 .5rem 0 .5rem;
}


.hidden {
    display: none;
}