@use "/src/mixin";
@use "/src/var";

.description__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixin.desktop {
        display: grid;
        align-items: center;
    }
}

.description__image__container {
    display: flex;
    align-items: center;
}

.description__title {
    font-family: var.$font-main;
    font-size:  var.$font-size-h2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    text-align: center;
    
    @include mixin.desktop {
        font-size: 1.3rem;
        align-self: flex-start;
        grid-column: 2;
        grid-row: 1;
        align-items: center;
        padding-top: 0;
        margin-top: 25px;
        margin-left: 10px;
    }
}

.description__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    color: #000000;
    font-family: var.$font-alt;
    font-size: var.$font-size-base;
    line-height: 2;
    text-align: left;
    padding-left: 24px;

    @include mixin.desktop {
        grid-column: 2;
        grid-row: 1;
        align-items: flex-start;
        padding: 0;
        margin-top: 4rem;
        margin-left: 10px;
        font-size: var.$font-size-base;
    }
}

.description__image {
    width: 100%;
    // max-width: 500px;
    height: auto;
    padding: .7rem 0 .7rem 24px;
    object-fit: cover;

    @include mixin.desktop {
        width: 400px;
        height: 400px;
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        padding: 1.5rem 1rem;
    }
}
