@use "var" as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: $color-bg;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    img {
        width: 136px;
        height: 136px;
        border-radius: 50%;
        object-fit: contain;
    }

    nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 50px;
            margin: 0;
            padding: 0;

            li a {
                text-decoration: none;
                color: $color-text;
                font-family: $font-main;
                font-weight: 500;
                font-size: $spacing-medium;
                transition: color 0.3s ease;
                
                &:hover {
                    color: #007bff;
                }
            }
        }
    }


    // Mode mobile
    @include small {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;

        img {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
        }

        nav {
            width: 100%;

            ul {
                flex-direction: column;
                gap: 20px;

                li a {
                    font-size: 1rem;
                }
            }
        }
    }
}
