@use "../../components/var.scss";
@use "../../components/mixin";

.addCompany-button {
    background-color: var.$color-client;
    border: solid 1px var.$color-client;
    border-radius: 5px;
    width: max-content;
}

.professionnel-div {
    margin-bottom: 2rem;
    padding-left: 22rem;
}

@media (max-width: 576px) {
    .professionnel-div {
        padding-left: 12px;
    }
}
