@use "../style/var";
@use "../style/mixin";

.admin-page-title {
    justify-self: center;
    margin-top: 3rem;
}

.admin-container {
    margin-top: 3rem;
}

.contact-request-list-item {
    margin-right: 0.5rem;
}

.waiting-project-list-item {
    margin-left: 0.5rem;
}

.list-item {
    box-shadow: 3px 3px 15px 1px rgba(133, 132, 132, 0.31);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.admin-item-title {
    font-size: 1.8rem;
}
