@use "../style/var";
@use "../style/mixin";

.admin-page-title {
    justify-self: center;
    margin-top: 3rem;
}

.list-item {
    box-shadow: 2px 2px 5px 2px rgba(133, 132, 132, 0.31);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.admin-item-title {
    font-size: 1.8rem;
}

@media (min-width: var.$breakpoint-desktop) {
    .admin-container {
        margin-top: 3rem;
    }

    .contact-request-list-item {
        margin-right: 0.5rem;
    }

    .waiting-project-list-item {
        margin-left: 0.5rem;
    }

    .genre-list-item {
        margin-right: 0.5rem;
    }

    .full-card-list-item {
        margin-left: 0.5rem;
    }
}

.component-admin-container {
    border: solid 1px var.$color-admin;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.admin-item-title {
    background-color: var.$color-admin;
    color: white;
    text-align: center;
    padding: .7rem 0 .7rem 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}