.client-liste {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: solid 1px #e07a5f;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 1px rgba(133, 132, 132, 0.31);
    padding: 0.2rem;
}

.client-liste-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 1rem;
    background-color: #e07a5f;
    color: white;
}

.client-liste-result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
    margin: 1rem;
    font-size: 0.8rem;
}

.client-liste-result_div {
    border-left: solid 1px #e07a5f;
}

.client-liste-result_phone-number_div {
    border-right: solid 1px #e07a5f;
}

.client-liste-result_item {
    margin: 0;
}
