@use "../mixin";
@use "../var";

.full-client-card-container {
    padding: 0;
    margin: 0;
}

.client-card-row {
    // border: solid 1px #e07a5f;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(133, 132, 132, 0.31);
    margin-bottom: 0.5rem;
}

.client-card-columne {
    margin: 0;
}
